:root {
  --main-bg-color: rgb(185, 185, 185);
  --sec-color: rgb(165, 132, 219);
  --gap-size: 1rem;
}

html{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; 
}

/* par default, body reçoit 8px de margin */
body {
  margin: 0;
  max-width: 2000px;
  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: 25vh auto;
  gap: var(--gap-size);
}

.menu{
  /* grid-column-start: 1;
  grid-column-end: 3; */
  grid-column:  1 / 3;
}

.main,
.menu,
.sidebar{
  background-color: var(--main-bg-color);
}

.main{
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  box-sizing: border-box;
}


.main .item{
  background-color: rgb(30, 108, 153);
  width: calc(33.333% - 1rem);
  height: 25vh;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}

.main .item.full-width{
  width: 100%;
  background-color: var(--sec-color);
}

.main .item.full-width::before,
.main .item.full-width::after{
  background-color: rgb(0, 195, 255);
  margin: .5rem;
  font-size: .9rem;
  padding: .5rem;
}

.main .item.full-width::before{
  content: "here is my :before";
}

.main .item.full-width::after{
  content: "here is my after"
}

/* body .main .item{
  color: red;
} */